.divContainer {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  
  
  .divIcono img {
    width: 100px;
    margin: 20px 0;
 }
  
  
  nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #0033ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #93857b;
  }
  
  .inputBuscar {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .h1Productos {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
  }
  
  .divContenedorImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .productoCard {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .productoCard img {
    width: 150px;
    border-radius: 10px;
  }
  
  .productoCard h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .productoCard p {
    font-size: 14px;
    color: #666;
  }
  
  /* Descripción */
  .textoInformativo {
    margin-top: 20px;
    padding: 20px;
    background-color: #c7bdbd;
    border-radius: 10px;
    text-align: left;
  }
  
  #fin {
    margin-top: 30px;
    font-size: 20px;
  }



  #miCuenta{

    background-color: #0033ff ;
    color: white;
    border-radius: auto;
  }



  #fin{
    background-color: #666;
  }
